.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #282c34;
}
.DevCard{
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3),
  -2px -2px 0 rgba(255, 255, 255, 0.2);
  background-color: #282c34;
  background-image: url('./assets/Author.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-basis: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1vh groove #3737388a;
}
.DevCard:hover{
  border: 1vh ridge #1291068a;
}
.DogCard{
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-color: #282c34;
  background-image: url('./assets/dogview.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-basis: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 25, 25);
  border: 1vh ridge #3737388a;
}
.DogCard:hover{
  border: 1vh ridge #1291068a;
}
.DogViewCard0{
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-color: #282c34;
  background-image: url('./assets/dogview.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-basis: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 2vh;
  background-color: #faf6f094;
  box-shadow: 2px 2.5px 5px 1px #000000;
  min-width: 25vw;

}
.vFlexRow{
  display: flex;
  /* flex-basis: auto; */
  min-width: 66vw;
  flex-direction: column;
  /* max-height: 99vh; */
}
.vFlexRow2{
  display: flex;
  /* flex-basis: auto; */
  min-width: 66vw;
  flex-direction: row;
  /* max-height: 99vh; */
}
.DevView{
  display: flex;
  flex-direction: row-reverse;
  /* min-height: 99vh; */
}
.DogView{
  display: flex;
  flex-direction: row;
  /* min-height: 99vh;
  max-height: 99vh; */
}
.vHome{
  display: flex;
  flex-direction: row;
  min-height: 99vh;
}
.DogViewCard1{
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-color: #4a644e;
  background-size: cover;
  background-position: center;
  display: flex;
  /* flex-basis: 50vw; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 0vh 0vh 2vh 2vh;
  box-shadow: 2px 2.5px 5px 1px #000000;
  min-width: 25vw;
}
.DogViewCard2{
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-size: cover;
  background-position: center center;
  display: flex;
  /* flex-basis: 50vw; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 2vh;
  background-color: #6b7b70;
  box-shadow: 2px 2.5px 5px 1px #000000;
  min-width: 25vw;

}
.DogViewCard3{
  
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-size: cover;
  background-position: center center;
  display: flex;
  /* flex-basis: 50vw; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 2vh;
  background-color: #a4b29f;
  box-shadow: 2px 2.5px 5px 1px #000000;
  min-width: 25vw;

}
#textDVC1, #textDVC2,#textDVC3 {
  /* min-width: 25vw; */
  max-width: 50vw;
}
.DevViewCard0{
  z-index: 10;
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-color: #d0c7b4;
  background-image: url('./assets/Author.jpg');
  background-size: cover;
  background-position: center center;
  /* flex-basis: 25vw; */

  font-size: calc(10px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 2vh 0vh 0vh 2vh;
  background-color: #faf6f094;
  box-shadow: 1vh 1vh 1vh 1vh #000000;
  min-width: 34vw;
  /* min-height: 99vh; */

}
.DevViewCard1{
  z-index: 0;
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-color: #6b7b70;
  /* background-image: url('./assets/projectCasino.png'); */
  background-size: cover;
  /* background-position: center center; */
  /* flex-basis: 50vw; */
  font-size: calc(1px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 0vh 0vh 5vh 5vh;
  box-shadow: 2px 2.5px 5px 1px #000000;
  width: 22vw; 
  /* max-width: 25vw; */
  max-height: 50vh;

}
.DevViewCard2{
  z-index: 1;
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-color: #a4b29f;
  /* background-image: url('./assets/dog.png'); */
  background-size: cover;
  background-position: center;
  /* flex-basis: 22vw; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 0vh 0vh 5vh 5vh;
  box-shadow: 2px 2.5px 5px 1px #000000;
  width: 22vw; 
  max-height: 50vh;

}
.DevViewCard3{
  text-align: left;
  z-index: -1;
  padding: .2em;
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-color: #d0c7b4;
  background-size: cover;
  background-position: center center;
  display: flex;
  /* flex-basis: 100%; */
  font-size: calc(1px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 2vh;
  box-shadow: 2px 2.5px 5px 1px #000000;
  min-width: 22vw; 
  /* max-width: 60vw; */
  min-height: 49vh;
}
.DevViewCard4{
  z-index: 3;
  text-shadow: 1px 1px 2px rgba(231, 231, 231, 0.2);
  background-color: #e4dec9;
  background-size: cover;
  background-position: center;
  /* flex-basis: 33%; */
  font-size: calc(1px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 0vh 0vh 5vh 5vh;
  box-shadow: 2px 2.5px 5px 1px #000000;
  width: 22vw; 
  min-height: 50vh;

}
.HomeBtn{
  text-align: center;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  
  font-size: calc(1px + 2vmin);
  color: rgb(26, 25, 25);
  border: 1vh ridge #3737388a;
  border-radius: 1vh 1vh 1vh 1vh ;
  background-color: #faf6f0e8;
  box-shadow: 2px 2.5px 5px 1px #000000;
  min-width: 8vw;
  min-height: 5vh;
}
.HomeBtnDog{
  text-align: center;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 100vw;
  
  font-size: calc(1px + 2vmin);
  color: rgb(26, 25, 25);
  border-radius: 1vh 1vh 1vh 1vh ;
  background-color: #faf6f094;
  box-shadow: 2px 2.5px 5px 1px #000000;
  min-width: 4vw;
  min-height: 5vh;
}
  .HomeBtn:hover{
    background-color: #129106e1;
  }
.slide-in-top {
  animation: slide-in 0.5s ease-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-99vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.slide-off-top {
  animation: slide-off 0.5s ease-out forwards;
}

@keyframes slide-off {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
.slide-in-bottom {
  animation: slide-in-bottom 0.5s ease-out forwards;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.slide-out-bottom {
  animation: slide-out-bottom 0.5s ease-out forwards;
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
.slide-off-left {
  animation: slide-off-left 0.5s ease-out forwards;
}

@keyframes slide-off-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.slide-in-left {
  animation: slide-in-left 0.5s ease-out forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-off-right {
  animation: slide-off-right 0.5s ease-out forwards;
}

@keyframes slide-off-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
.slide-in-right {
  animation: slide-in-right 0.5s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
.watermark {
  opacity: 0.5; /* Set initial opacity for watermark effect */
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition */
}

.watermark:hover {
  opacity: 1; /* Make the div solid on hover */
}
